.child-box {
   /* border-color:black ;
    border-style: solid;
    border-width: 1px; */
    border: black solid 1px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(45, 133, 133);
    border-radius: 15px;
}
body {
    background-color: rgba(14, 107, 5, 0.432);
}

.parent-box div.child-box:nth-of-type(1) {
    background-color: rgba(181, 190, 54, 0.808);
}

.parent-box div.child-box:nth-of-type(2){
    background-color: rgb(130, 177, 3);
}

.parent-box div.child-box:nth-of-type(3){
     background-color: rgb(4, 179, 97);
}

.parent-box {
    display: flex;
    background-color: rgba(68, 102, 5, 0.781);
    padding: 40px 20px 20px 20px;
    
}

.parent-box > p {
    position: absolute;
    margin-top: -30px;
    left: 25px;
}

#justify-content .parent-box {
    justify-content: center;
    justify-content: space-around;
}

#flex-direction .parent-box {
    flex-direction: row-reverse;
}

#align-itens .parent-box {
    
}

#flex-wrap .parent-box{
    flex-wrap: wrap;
}

#flex-flow .parent-box{
    flex-flow: column nowrap;
}

#align-content .parent-box{
   
    align-content: flex-start;
}